<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coypu" version="2.9.1" targetFramework="net45" />
  <package id="CsvHelper" version="2.13.2.0" targetFramework="net45" />
  <package id="Dapper" version="1.42" targetFramework="net45" />
  <package id="FileHelpers" version="3.1.5" targetFramework="net45" />
  <package id="FluentAssertions" version="4.0.1" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net45" />
  <package id="Medidata.Dapper" version="0.0.8" targetFramework="net45" />
  <package id="Medidata.Dapper.T4" version="0.0.8" targetFramework="net45" />
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="14.0.0" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Polly" version="2.2.3" targetFramework="net45" />
  <package id="Selenium.Support" version="2.48.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.48.0" targetFramework="net45" />
</packages>