<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.2.0.0-beta" targetFramework="net461" />
  <package id="AWSSDK.SimpleNotificationService" version="3.1.0.8" targetFramework="net461" />
  <package id="AWSSDK.SQS" version="3.1.0.11" targetFramework="net461" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Coypu" version="2.9.1" targetFramework="net45" />
  <package id="FileHelpers" version="3.1.5" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net45" />
  <package id="ImpromptuInterface" version="6.2.2" targetFramework="net45" />
  <package id="Medidata.Hosting.AWS" version="1.0.0-pre000025-01" targetFramework="net461" />
  <package id="Medidata.IFX" version="1.5.3-pre000071-01" targetFramework="net461" />
  <package id="Medidata.Messaging.AWS" version="1.1.2-pre000084-01" targetFramework="net461" />
  <package id="Medidata.SpecFlow.UnitTestGenerator.SpecFlowPlugin" version="0.0.4" targetFramework="net45" />
  <package id="Medidata.Specrun.Reporting" version="0.0.5" targetFramework="net45" />
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="14.0.0" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NUnit.Runners" version="2.6.4" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net45" />
  <package id="Selenium.Support" version="2.48.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.48.0" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
  <package id="SpecFlow.Assist.Dynamic" version="1.0.3" targetFramework="net45" />
  <package id="SpecFlow.CustomPlugin" version="1.9.0" targetFramework="net45" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net45" />
  <package id="SpecRun.NUnit" version="1.2.0" targetFramework="net45" />
  <package id="SpecRun.Runner" version="1.2.0" />
  <package id="Topshelf" version="4.0.1" targetFramework="net461" />
</packages>